<style>
  #toolbar
  {
    margin-top: -88px;
  }
</style>
<div class="ui grid right aligned container stackable" id="toolbar">
  <div class="two column row">
    <div class="column thirteen wide right aligned">
      <div class="ui small buttons basic inverted">
        <div class="ui green button">
          Nouvelle
        </div>
        <div class="ui button orange">
          Modifier
        </div>
        <div class="ui red button">
          Supprimer
        </div>
      </div>
    </div>
    <div class="column one wide right aligned">

      <div class="ui circular button blue">
        Valider
      </div>
    </div>
  </div>
</div>
