

  <div class="ui page grid" style="min-height: calc(100vh - 20px);">
    <div class="column">
      <div class="one column row">
        <menu [logging]="loggingStatut" (changedLogging)="loggingStatut = $event"></menu>
      </div>
      <div class="one column row">
        <div class="ui grid">
          <div class="one column row" style="min-height: 100%;">
            <div class="column">
              <h1 class="ui teal header">HOMEPAGE</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
