<div class="ui large secondary inverted pointing menu">
  <div class="ui container">
    <a class="item" (click)="openSidebar()" [style.visibility]="sidebarStatusInv"><i class="icon sidebar"></i></a>
  </div>
</div>

<div class="ui left demo vertical inverted sidebar labeled icon menu {{ sidebarStatus }}">
  <a class="disabled item" (click)="closeSidebar()">
    <i style="color: darkred !important;" class="close icon"></i>
  </a>
  <a class="item">
    <i class="home icon"></i>
    Home
  </a>
  <a class="item">
    <i class="block layout icon"></i>
    Topics
  </a>
  <a class="item">
    <i class="smile icon"></i>
    Friends
  </a>
</div>

