<div *ngIf="currentUpload">
  <div class="progress">
    <div class="progress-bar progress-bar-animated" [ngStyle]="{ 'width': currentUpload?.progress + '%' }"></div>
  </div>
  Progress: {{currentUpload?.name}} | {{currentUpload?.progress}}% Complete
</div>
<div class="row">
  <div class="image-upload" style="margin: 10px">
    <label for="file-input">
      <img src="{{model.src}}" class=" ui icon image" />
    </label>
    <input id="file-input" type="file" (change)="detectFiles($event)"/>
  </div>
</div>