<style>
  .card
  {
    margin-left: 22% !important;
    margin-right: 22% !important;
  }

  input[type="text"] {
    float:none !important;
    padding: 4px !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
    width: 83% !important;
  }

  .blue.segment {
    background-color: white !important;
  }
</style>
<div class="ui grid container">
  <div class="one column row">
    <div class="column">
      <div class="ui blue segment" style="padding-bottom: 40px">
      <h1 class="ui header center">Devenez hôte et recevez une aide précieuse</h1>
      <div class="ui form">
        <div class="fields">
          <div class="seven wide field">
            <label>Titre de votre annonce</label>
            <input [(ngModel)]="title" type="text" placeholder="Titre de votre annonce" required>
          </div>
        </div>
        <div class="fields">
          <div class="six wide field">
            <label>Adresse du logement</label>
            <input [(ngModel)]="adress" type="text" placeholder="Adresse" required>
          </div>
          <div class="four wide field" style="margin-left: 20px !important;">
          </div>
          <div class="four wide field" style="margin-left: 20px !important;">
            <label>Ville</label>
            <input [(ngModel)]="city" type="text" placeholder="Ville" required>
          </div>
          <div class="two wide field" style="margin-left: 20px !important;">
            <label>Code postale</label>
            <input [(ngModel)]="zipcode" type="text" placeholder="code postale" required>
          </div>
        </div>
        <div class="fields">
          <div class="eight wide field" style="float:none !important">
            <input type="text" placeholder="8 Wide">
          </div>
          <div class="six wide field" style="float:none !important">
            <input type="text" placeholder="6 Wide">
          </div>
          <div class="two wide field" style="float:none !important">
            <input type="text" placeholder="2 Wide">
          </div>
        </div>
        <div class="sixteen wide field">
          <span class="label">
            Entrez les détails de votre offre :
          </span>
          <textarea [(ngModel)]="details" type="text"></textarea>
        </div>
        <div class="row">
        <span class="label">
           Cliquez sur les images pour enregistrer vos photos :
        </span><br>
        <div>
          <div id="img1" style="float: left; margin: 10px;"><app-upload-form></app-upload-form></div>
          <div id="img2" style="float: left; margin: 10px;"><app-upload-form></app-upload-form></div>
          <div id="img3" style="float: left; margin: 10px;"><app-upload-form></app-upload-form></div>
          <br>
        </div>
        </div>
        <br><br>
        <div class="ui checkbox">
          <input type="checkbox" name="example">
          <label>Je certifie avoir pris connaissance des <a style="color: green !important;">conditions générales</a> et les avoir aceptées</label>
        </div>
        <div (click)="onClickAddOffer()" class="ui right floated positive button">Enregistrer l'offre</div>
      </div>
      </div>
  </div>
  </div>
  <div class="one column row">
    <div class="column">
    <div class="ui segment">
    <h1 class="ui header">Listes de vos adresses</h1>
      <div class="ui one cards">
          <div class="card">
            <div class="content">
              <div class="header">
                Titre de l'offre
              </div>
              <div class="meta">
                Nom de l'utilisateur / utilisatrice
              </div>
              <div class="description">
                Contenu de l'offre
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
