<style>
  .card
  {
    margin-left: 22% !important;
    margin-right: 22% !important;
  }
</style>
<div class="ui grid container">
  <div class="one column row">
    <div class="column">
      <div class="ui blue segment" style="padding-bottom: 40px">
      <h1 class="ui header blue">Ajouter</h1>
      <div class="ui form">
        <div class="fields">
          <div class="nine wide field">
            <input [(ngModel)]="title" type="text" placeholder="Entrez le titre de votre offre">
          </div>
          <div class="seven wide field">
            <input [(ngModel)]="userName" type="text" placeholder="Entrez votre nom">
          </div>
        </div>
        <div class="sixteen wide field">
          <span class="label">
            Entrez le nom de votre offre :
          </span>
          <textarea [(ngModel)]="details" type="text"></textarea>
        </div>

        <div (click)="onClickAddOffer()" class="ui right floated positive button">Enregistrer l'offre</div>
      </div>
      </div>
  </div>
  </div>
  <div class="one column row">
    <div class="column">
    <div class="ui segment">
    <h1 class="ui header">Listes de vos adresses</h1>
      <div class="ui one cards">
          <div class="card">
            <div class="content">
              <div class="header">
                Titre de l'offre
              </div>
              <div class="meta">
                Nom de l'utilisateur / utilisatrice
              </div>
              <div class="description">
                Contenu de l'offre
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>