<div class="ui middle container aligned center aligned stackable grid" style="height: 100%">
  <div class="seven wide column middle aligned">

    <form class="ui large form">
      <div class="ui stacked segment">
        <h2 class="ui teal icon header">
          <div class="content">
            S'inscrire
          </div>
        </h2>
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input [(ngModel)]="email" type="text" name="email" placeholder="E-mail address">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input [(ngModel)]="passwd" type="password" name="password" placeholder="Password">
          </div>
        </div>
        <div (click)="onClickRegister()" class="ui fluid large teal submit button">S'inscrire</div>
      </div>

      <div class="ui error message"></div>

    </form>

    <div class="ui message">
      Deja un compte ? <a routerLink="/enter/l">Se connecter</a>
    </div>
  </div>
</div>
